<div id="adminRes" style="position: fixed; top: 0; left: 0; right: 0; z-index: 9;"></div>

<div class="container bg-white my-2">
    <div class="d-flex justify-content-between border-bottom py-3 mb-2">

        <h2 class=" text-muted p-0">
            <i class="bi bi-shield-shaded"></i> Admin
        </h2>
        <a class="btn btn-dark btn-sm"  style="height: 30px;" onclick="newAdmin()">
            <i class="bi bi-shield-plus"></i>
            New Admin
        </a>
    </div>
    <div class="ad-responsive-table w-100">
      <table id="myTable" class="table table-striped table-bordered table-responsive table-hover ">
          <thead>
              <tr>
                  <th>Sr No.</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Created</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>

              <% adminList.forEach((val,ind)=>{ %>


              
              <tr>
                  <td><%= ind+1 %></td>
                  <td class="text-capitalize"><%=val.name%></td>
                  <td >@<%=val.username%></td>
                  <td ><%=val.email%></td>
                  <td><%=val.joined%></td>
                  <td>
                    <%  if(val.username!='test_user' && val.username!=userData.username){ %> 
                        <button  class="btn text-danger border-0" id="delete2<%=val._id %>" onclick="catDelete ( 'delete2<%=val._id %>','<%=val._id %>', 'icon')"><i class="bi bi-shield-x"></i></button>
                    <%  } %> 
                  </td>
              </tr>

              <%})%>
          </tbody>
      </table>
    </div>
</div>




  <!-- Modal -->
  <div class="modal fade" id="adminNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create Admin </h5> <div id="acLoaderStatus"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <form action="" method="post" onsubmit="return false" id="accntCreationForm">
                <div class="mb-1">
                    <label for="">Name</label>
                    <div class="input-group mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Username" aria-label="Username"  >
                    </div>
                </div>
                <div class="mb-1">
                    <label for="">
                        Email
                    </label>
                    <div class="input-group mb-3">
                        <input type="text" name="email" class="form-control" placeholder="admin@email.com" aria-label="Username"  >
                    </div>
                </div>
                <div class="mb-1">
                    <button type="submit" class="btn btn-primary w-100" id="addAdminBTN"><i class="bi bi-shield-plus" ></i> Add Admin</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  

  <!-- Modal -->
  <div class="modal fade" id="adminDataModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Admin Credentials </h5> <div id="acLoaderStatus"></div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
            <pre id="newAdmnData" style="color: rgb(4, 126, 79);">  
                
            </pre>
            <p class="text-muted"><small>Copy the credentials ASAP, it won't be shown again!</small></p>
        </div>
        <div class="modal-footer" id="acbuttons">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
    
   
    function catDelete ( btn, uid, contType) {
      let btnData = $('#'+btn).html()
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          if(contType=='icon'){
            $('#'+btn).html('<i class="fa-solid fa-spinner fa-spin"></i>').prop('disabled',true);
          }else{
            $('#'+btn).html('Deleting...').prop('disabled',true);
          }
          $.ajax({
            type: "POST",
            url: "/adminapi/admin/remove/",
            data: {
                id:uid
            },
            dataType: "json",
            encode: true, 
          }).done(function (data) {
            
            if(data.success == true){
              if(contType=='icon'){
                $('#'+btn).html('<i class="bi bi-check-circle-fill"></i>').prop('disabled',true);
              }else{
                $('#'+btn).html('Deleted!').prop('disabled',true);
              }
              Swal.fire(
                'Deleted!',
                data.message,
                'success'
                )
                
            }else{
              $('#'+btn).html(btnData).prop('disabled',false);
              Swal.fire(
                'Error Detucted',
                data.message,
                'error'
              )
            }
          });
        }
        
      })
     

  }


  
$(document).ready(function () {
  $("form").submit(function (event) {
    let btn_data = $('#addAdminBTN').html();
    $('#addAdminBTN').html('Loading...').prop('disabled', true);
    var form = $('form')[0]; // You need to use standard javascript object here
    var formData = new FormData(form);
    console.log(formData);
    //data: $('#categoryForm').serialize(),

    $.ajax({
      type: "POST",
      url: '/adminapi/admin/create',
      data: $('#accntCreationForm').serialize(),
      dataType: "json",
      encode: true,
    }).done(function (data) {
      console.log(data.message);
      console.log(data);
      if(data.success == true){

           resHTML = '<div class="alert alert-success alert-dismissible"> '+
            '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
            '<strong>Success!</strong> '+data.message +
            '</div>';
            $("form")[0].reset()

              toggleModal( 'adminNewModal','hide');
              toggleModal( 'adminDataModal','show');
              $('#newAdmnData').html(JSON.stringify(data.data))
        }else{

             resHTML = '<div class="alert alert-danger alert-dismissible"> '+
            '<button type="button" class="btn-close" data-bs-dismiss="alert"></button>'+
            '<strong>Error!</strong> '+data.message +
            '</div>';
        }
    $('#addAdminBTN').html(btn_data).prop('disabled', false);
      $("#adminRes").html(resHTML)
    });

    event.preventDefault();
  });
});

function newAdmin(){
    toggleModal('adminNewModal','show');
}
</script>
