
    <div class="row justify-content-around my-5 p-3 flex-wrap">
        <div class="card col text-dark mx-2 border-0 ad-box-shadow pt-1  my-1" style="min-width: 120px; background-color: rgba(0, 128, 255, 0.101);" >
            <h1 class=""><i class="bi bi-people-fill bg-primary rounded-pill px-2 py-1 h2 text-white"></i> <%= usersCount %></h1>
            <h4 class="">Users</h4>
        </div>
        <div class="card col mx-2 border-0 pt-1 ad-box-shadow my-1" style="min-width: 120px; background-color: rgba(0, 255, 102, 0.101);">
            <h1 class="text-dark">
                <i class="bi bi-grid bg-success rounded-pill px-2 py-1 h2 text-white"></i>
                <%= prodCount %> 
            </h1>
            <h4 class="text-dark">Products</h4>
        </div>
        <div class="card col mx-2 pt-1 ad-box-shadow border-0  my-1" style="min-width: 120px; background-color: rgba(199, 165, 12, 0.101);">
            <h1 class="text-dark">
                <i class="bi bi-clipboard2-data-fill rounded-pill px-2 py-1 h2 text-white " style="background-color: rgb(230, 174, 20);"></i>
                <%= catCount %>
            </h1>
            <h4 class="text-muted">Categories</h4>
        </div>
        <div class="card col mx-2 pt-1 ad-box-shadow border-0  my-1" style="min-width: 120px; background-color: rgba(185, 21, 244, 0.050);">
            <h1 class="text-dark">
                <i class="bi bi-bar-chart-line-fill rounded-pill px-2 py-1 h2 text-white " style="background-color: purple; ;"></i>
                <%= orderCount %>
            </h1>
            <h4 class="text-muted">Orders</h4>
        </div>
    </div>
<div class="row justify-content-around">
    <div class="card col-12 col-md-6 ad-box-shadow border-0" >
        <div class="card-body">
          <canvas id="salesChart">Sales chart couldn't load on your browser</canvas>
        </div>
      </div>
    <div class="card col-12 col-md-5 ad-box-shadow border-0" >
        <div class="card-body">
          <canvas id="myChart2">Chart couldn't load on your browser</canvas>
        </div>
      </div>
</div>
<div class="container">
  <div class="ad-responsive-table w-100">
    <h3 class="text-secondary py-3">Latest Orders</h3>
    <table id="myTable" class="table table-striped table-bordered table-responsive table-hover ">
        <thead>
            <tr>
                <th>Sr No.</th>
                <th>OID</th>
                <th>User</th>
                <th>Items</th>
                <th>Ordered</th>
                <th>Order Status</th>
                <th>Payment Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <% successOrders.forEach((val,i)=>{ %>


            
            <tr>
                <td><%= i+1 %></td>
                <td class=""><%= val._id %></td> <!--text-capitalize-->
                <td>@<%=val.userid.username%> <small>(<%=val.userid.name%>)</small></td>
                <td><%=val.products.length%></td>
                <td title=""><%= val.ordered_date.getDate() %>/<%= val.ordered_date.getMonth()+1 %>/<%= val.ordered_date.getFullYear() %></td>
                <td title="">
                    <% if(val.delivery_status.delivered.state){ %> 
                      <p><b>DELIVERED</b><small>(<%= val.delivery_status.delivered.date.getDate() %>/<%= val.delivery_status.delivered.date.getMonth()+1 %>/<%= val.delivery_status.delivered.date.getFullYear() %>)</small> </p>
                      
                    <% }else if(val.delivery_status.out_for_delivery.state){ %> 
                        <p> <b>OUT_FOR_DELIVERY</b><small>(<%= val.delivery_status.out_for_delivery.date.getDate() %>/<%= val.delivery_status.out_for_delivery.date.getMonth()+1 %>/<%= val.delivery_status.out_for_delivery.date.getFullYear() %>)</small> </p>
                        
                    <% }else if(val.delivery_status.shipped.state){  %> 
                        <p> <b>SHIPPED</b><small>(<%= val.delivery_status.shipped.date.getDate() %>/<%= val.delivery_status.shipped.date.getMonth()+1 %>/<%= val.delivery_status.shipped.date.getFullYear() %>)</small> </p>
                       
                    <% }else if(val.delivery_status.ordered.state){  %> 
                        <p> <b>ORDERED</b><small>(<%= val.delivery_status.ordered.date.getDate() %>/<%= val.delivery_status.ordered.date.getMonth()+1 %>/<%= val.delivery_status.ordered.date.getFullYear() %>)</small> </p>
                        

                    <% } %> 
                </td>
                <td title=""><% if( val.payment.payment_status == 'completed'){ %><span class="badge  bg-success ">Paid</span> <% }else{ %><span class="badge  bg-warning ">Pending</span><% } %>  </td>
                <td>
                    <a href="/admin/order/<%= val._id %>" class="btn  text-warning" title="View Order"><i class="bi bi-eye-fill"></i></a>
                    <a href="/admin/invoice/<%= val._id %>" class="btn  text-warning" title="View Order"><i class="bi bi-receipt"></i></a>
                    <!-- <button  class="btn text-danger border-0" id="delete2<%=val._id %>" onclick="coupDelete( 'delete2<%=val._id %>','<%=val._id %>', 'icon')"><i class="bi bi-trash3-fill"></i></button> -->
                </td>
            </tr>

            <%})%>
        </tbody>
    </table>
  </div>
</div>
<div class="container" >
    <h3 class="text-muted border-bottom">Usefull links</h3>
    <a href="/admin/users" class="btn-link btn">Manage Users</a> | 
    <a href="/admin/products" class="btn-link btn">Manage Products</a> |
    <a href="/admin/settings" class="btn-link btn">Settings</a> 

</div>
<div style="background-color: rgba(212, 161, 51, 0.434);"></div>
<script>

    var xValues = ['Incomplete orders', 'Payment pending','paid orders'];
var yValues = [<%= pendingorderCount%>,<%=paymentpendingorderCount%>,<%=paymentpaidorderCount%>];
var barColors = [
  "rgba(221, 63, 63, 0.834)",
  "rgba(212,161,51, 0.834)",
  "rgba(95, 250, 175,0.8)",
];

new Chart("myChart2", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Total Order's Report"
    }
  }
});

<%


function getMonthName(monthNumber) {
  const date = new Date();
  date.setMonth(monthNumber - 1);

  return date.toLocaleString('en-US', { month: 'long' });
}

%>


/**chart*/
<% let dates = salesChartDt.map((val)=>{ return val._id.slice(-2)}) %>
<% let salesCount = salesChartDt.map((val)=>{ return val.count}) %>
var xValues = [<%= dates%>];

new Chart("salesChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
        label: 'Orders',
      data: [<%=salesCount %>],
      borderColor: "rgba(0, 156, 255 ,0.4)", //95, 250, 175,0.8
      fill: false
    }
    // ,{
    //     label: 'Return',
    //   data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
    //   borderColor: "green",
    //   fill: false
    // },{
    //     label: 'Cancel',
    //   data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
    //   borderColor: "blue",
    //   fill: false
    // }
  ]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Order chart <%=getMonthName(Number(salesChartDt[0]._id.substring(7,5))) %> -  <%= salesChartDt[0]._id.substring(0, 4)%>"
    }
  }
});
</script>